<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>User Profile</title>
</head>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<body>
    <header>
        <div class="left">
            <h1>Mini Amazon</h1>
        </div>
        <div class="right">
            <ul>
                <li><a href="/homepage">Home Page</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <h1>Your Profile</h1>
        <form action="/profile" method="post">
            {% csrf_token %}
            <div class="input">
                <label for="name">Username</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="input">
                <label for="pwd">Password</label>
                <input type="text" id="pwd" name="pwd">
            </div>
            <div class="input">
                <label for="re_pwd">Password Again</label>
                <input type="text" id="re_pwd" name="re_pwd">
            </div>
            <div class="input">
                <label for="user_x">Default Address x</label>
                <input type="text" id="user_x" name="user_x">
            </div>
            <div class="input">
                <label for="user_y">Default Address y</label>
                <input type="text" id="user_y" name="user_y">
            </div>
            <div class="input">
                <label for="user_ups">Default UPS Account</label>
                <input type="text" id="user_ups" name="user_ups">
            </div>
            <div>
                <input type="submit" value="Modify">
            </div>
        </form>
    </div>

</body>
</html>
