<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Sign Up</title>
</head>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<body>
    <div class="container">
        <h1>Register Now!</h1>
        <form action="/register" method="post">
            {% csrf_token %}
            <div class="input">
                <label for="name">Username</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="input">
                <label for="pwd">Password</label>
                <input type="text" id="pwd" name="pwd">
            </div>
            <div class="input">
                <label for="re_pwd">Password Again</label>
                <input type="text" id="re_pwd" name="re_pwd">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>
