<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Shopping Cart</title>
</head>

<body>
    <header>
        <div class="left">
            <h1>Mini Amazon</h1>
        </div>
        <div class="right">
            <ul>
                <li><a href="/homepage">Home Page</a></li>
            </ul>
        </div>
    </header>

    <div class="shopping">
		<h2>Shopping Cart</h2>

		<table>
			<thead>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			{% if is_exist == 1 %}
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.product_id.description }}</td>
						<td>{{ product.product_num }}</td>
						<td>{{ product.product_id.price }}</td>
						<td>
							<form action="/shopping_cart" method="post">
								{% csrf_token %}
							<input type="hidden" name="remove" value="{{ product.product_id.product_id }}">
							<button type="submit">Remove</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			<form action="/shopping_cart" method="post">
				{% csrf_token %}
				<div class="checkout">
					<button type="submit" name="checkout">Go To Checkout</button>
				</div>
			</form>
			{% endif %}
        
	</div>
</body>
</html>